@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #F5F7F9;
  color: #222;
  font-family: 'Protest Riot', sans-serif;
  font-weight: 300;
}

.All_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #fff;
  height: 83px;
  box-shadow: #222;
}

.icons ul{
  display:  flex;
  align-items: center;
  gap: 40px;
}

ul li{
  list-style: none;
  display: flex;
  align-items: center;
}

ul a{
  text-decoration: none;
  display: flex;
  align-items: center;
}

.input{
  display: flex;
  align-items: center;
  background: #F5F7F9;
  width: 300px;
  padding: 0 15px;
  border-radius: 7.3px;
}

input{
  outline: none;
  border: none;
  background: none;
  padding: 10px 10px;
}
